.top-button {
    width: 10%;
}
.scrollList{
    max-height: 15rem;
}

.addBtn{
    width: 100%;
    background-color: green;
}

.topright {
    position: absolute;
    right: 0;
    top: 0;
}

.inputGroup{
    margin-bottom: 10px;
}

.mode-btn{
    width: 200px;
}

.type-btn{
    width: 200px;
}

.day-btn{
    width: 50px;
}

.active-btn{
    background-color: #eb60ca !important;
}

.input-small{
    width: 200px;
}